<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Enquiry Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>

  <body>
    <!-- <div class="chatbot-section"> -->
    <div class="chat-app-container mobile hidden">
      <!-- TOP SECTION -->
      <div class="chat-app-top">
        <h2>NIT assistant</h2>
        <p>We are live and ready to chat with you now. Say something to start a live chat.</p>
      </div>

      <!--------MIDDLE SECTION---- -->
      <div class="chat-app-middle">
        <div class="incoming-message">👋 Hello, I am College Enquiry Bot</div>
        <div class="incoming-message">
          Ask me anything related to :
          <ol>
            <li>Semester wise result 📜📚</li>
            <li>Faculty 🧑‍🏫👩‍🏫</li>
            <li>Holidays 🥳</li>
            <li>Joke 😃</li>
            <li>etc...</li>
          </ol>
        </div>
        <!-- <div class="file-message incoming-message">thi is pdf</div> -->
      </div>

      <!------------BOTTOM SECTION--------- -->
      <form class="chat-app-bottom" id="chat-form">
        <input id="chat-input" type="text" placeholder="write a reply.." />
        <button class="btn" type="submit">Send</button>
      </form>
    </div>

    <div class="button-container">
      <button onclick="toggleChatBot()" class="chat-open-btn">
        <img src="{{url_for('static',filename='chat-bot.png')}}" alt="chat bot" />
      </button>
    </div>
    <!-- </div> -->

    <script src="{{url_for('static',filename='chat.js')}}"></script>
  </body>
</html>
